body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 2%;
    font-size: 16px;
    font-weight: 400;
  }

  h1 {
    text-align: center;
    background-color: #007bff;
    /* Updated primary color */
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  form {
    width: 90%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Increased shadow */
    border-radius: 8px;
    border-bottom-left-radius: 0;
    /* Adjusted border radius */
    border-bottom-right-radius: 0;
    /* Adjusted border radius */
  }

  input[type="text"],
  button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    /* Added transition for smoother interaction */
  }

  button {
    background-color: #28a745;
    /* Updated button color */
    color: white;
    cursor: pointer;
    border: none;
  }

  button:hover {
    background-color: #218838;
    /* Darker hover color */
  }

  #result,
  #studentDetails {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #007bff;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .details-btn {
    background-color: #007bff;
    margin-top: 20px;
  }

  .hide {
    display: none;
  }